*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
body{
    background-color: aliceblue;
}

 /* ------UPTO------ */
 .get{
    background-color: #f5f5f5;
}
.get ul{
  display: flex;
  justify-content: right;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
}
.get ul li a{
  text-decoration: none;
  color: #111;
}
.get ul li a:hover{
  opacity: 0.7;
}
#gap{
  padding-right: 2px;
  padding: 10px;
}
#gap1st{
  padding-right: 2px;
  margin-right: 10px;
  padding: 10px;
}
/* ------UPTO End------ */

/* ------Navbar------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.navbar{
    display: flex;
    padding-top: 9px;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-between;
}
.logo{
    margin-left: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
}
.logo h1 a{
    text-decoration: none;
    color: black;
}
.links ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.links ul li{
    padding: 16px;

}
.links ul li a{
    text-decoration: none;
    color: black;
    font-weight: 450;
    padding: 8px;
    padding-bottom: 12px;
    /* transition: 0.3s ease-in-out; */
}
.links ul li a:hover{
    border-bottom: 2px solid black;
    /* transition: 0.3 ease-in-out; */

}
.join-sec ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.join-sec ul li{
    margin: 8px;
    padding: 8px;
    border-radius: 25px;
}
.join-sec ul li a{
    color: black;
}
.join-sec ul li:hover{
    background-color: #f5f5f5; 
}
/* ------Navbar End------- */

/* ------save------ */
.save{
    background-color: #f5f5f5;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   .save a{
    color: black;
   }
   /* ------save end------ */

/* ------Banner Img------- */

.off{
    position: relative;
    text-align: center;
    margin-top: -480px;
    line-height: 18px;
}
.off h1{
    font-family: poppins;
    font-size: 60px;
}
.off button{
    margin-top: 10px;
    width: 250px;
    height: 30px;
    border-color: white;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
.off button:hover{
    /* border-radius: 50px; */
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.off a button{
    margin: 25px;
    /* text-decoration: none; */
    font-weight: 600;
    letter-spacing: 3px;
    color: white;
}
/* ------Banner Img End------- */

/* ------Hoodie------- */
.hood h1{
    margin-top: 400px;
    text-align: center;
    font-size: 60px;
    font-family: poppins;
}
.hood h1:hover{
   text-decoration: overline 8px;
}
/* ------Hoodie End------- */

/* ------Select cards------- */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
    .main{
        font-family: "Poppins", sans-serif;
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: space-evenly;
    }
    .items{
        display: flex;
    }
    .cards{
        margin: 10px;
        background-color: #fff;
        border: transparent;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 0.2s;
        }
    .cards:hover{
        transform: translateY(-0.5%);
        box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
    }
    .card-img{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .card-content{
        padding: 48px;
        text-align: center;
    }
    .card-content h1{
        font-size: 26px;
        font-weight: 600;
        color: #0d0d0d;
        margin-bottom: 24px;
    }
    .card-btn {
        width: 60%;
        padding: 8px;
        font-size: 26px;
        text-align: center;
        color: black;
        background-color: #b1b6c5;
        border: none;
        border-radius: 6px;
        transition: 0.2s;
        cursor: pointer;
        letter-spacing: 1.5px;
}
.card-btn a{
  text-decoration: none;
  color: black;
  padding: 16px;
}
.card-btn span {
  margin-left: 8px;
  transition: 0.2s;
}
.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}
/* ------Select cards End------- */

/* -- hodieeeee -- */
.hodie{
  margin-top: 10px;
}
.hodie a img{
  width: 100%;
  height: 100%;
}
.hodie h1{
  position: absolute;
  font-family: poppins;
  font-size: 60px;
  margin-left: 450px;
  margin-top: 300px;
}
/* -- hodieeeee end -- */

/* ------Video Section------- */
.videogif video{
    object-fit: contain;
}
/* ------Video Section End------- */

/* ------Notification------- */
.all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ededed;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}
.noti{
    margin-left: 10px;
    padding-bottom: 8px;
}
.noti label{
    font-size: 25px;
}
.noti p{
    font-size: 11px;
    margin-top: 3px;
    text-align: center;
    font-weight: 550;
}
.notiii{
    margin-right: 10px;
}
.notiii input{
    text-align: left;
    padding-right: 360px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
    font-weight: 550;
}
@media(max-width: 574px){
    .notiii input{
      width: 100%;
  }
  }

 /* ------Notification End------- */

/* ------Footer-------  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: gray;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* ------Footer End------- */